#!/usr/bin/env bash

# FIXME: For some reason, direnv reloads it environment *twice* on
# rebuild (once when it's supposed to, and a second time for...
# reasons), even though nothing has changed. Pre-generating flake.lock
# does *not* fix this. Fortunately, this is mostly aesthetic; costly
# actions (such as setting up Python, Node, and Ruby) are *not*
# repeated.

export ENVIRONMENT_NAME_FOR_HUMANS="{{ENVIRONMENT_NAME_FOR_HUMANS}}"
export ENVIRONMENT_NAME="{{ENVIRONMENT_NAME}}"

echo "direnv: loading reproducible environment for $ENVIRONMENT_NAME_FOR_HUMANS"

# Initial build can take a while, so disable the associated warning
#
# Unfortunately, this only works *after* the first run
#
export DIRENV_WARN_TIMEOUT=0

# Do not allow errors during setup
#
set -e

# Init the environment
#
use flake

# Python setup
#
# Inspired by:
#
#   https://github.com/direnv/direnv/issues/1194#issuecomment-1849002795
#   https://github.com/direnv/direnv/wiki/Python#uv
#
watch_file requirements.txt

export VIRTUAL_ENV="$PWD"/.venv

if [[ ! -f "$VIRTUAL_ENV"/.sentinal ]] && [[ -f requirements.lock ]]; then
    echo "direnv: installing Python packages from requirements.lock"

    if [[ -d "$VIRTUAL_ENV" ]]; then
        rm -rf "$VIRTUAL_ENV"
    fi
    uv venv
    (
        # shellcheck disable=SC1091
        source .venv/bin/activate
        uv pip install -r requirements.lock
        deactivate
    )

    touch "$VIRTUAL_ENV"/.sentinal
elif [[ ! -f "$VIRTUAL_ENV"/.sentinal ]] || [[ requirements.txt -nt requirements.lock ]]; then
    echo "direnv: installing Python packages from requirements.txt"

    if [[ -d "$VIRTUAL_ENV" ]]; then
        rm -rf "$VIRTUAL_ENV"
    fi
    uv venv
    (
        # shellcheck disable=SC1091
        source .venv/bin/activate
        uv pip install -r requirements.txt
        uv pip freeze >requirements.lock
        deactivate
    )

    touch "$VIRTUAL_ENV"/.sentinal
fi

PYTHONPATH="$(realpath .venv/lib/python*/site-packages)${PYTHONPATH:+:$PYTHONPATH}"
export PYTHONPATH

if [[ -d .venv/bin ]]; then
    PATH_add .venv/bin
elif [[ -d .venv/Scripts ]]; then
    PATH_add .venv/Scripts
fi

export UV_ACTIVE=1
export VENV_ACTIVE=1

if [[ ! -e "$VIRTUAL_ENV"/.solc-select ]]; then
    echo "direnv: setting up solc-select cache"
    if [[ ! -d appdata/solc-select ]]; then
        mkdir -p appdata/solc-select
    fi
    ln -nsf "$PWD"/appdata/solc-select "$VIRTUAL_ENV"/.solc-select
fi

# It's not uncommon to proxy Python apps, which can result in warnings
# about untrusted SSL certificates. These are annoying, so we disable
# them. (DON'T do this GLOBALLY though! Warnings about unverified SSL
# certificates exist for a reason!)
#
export PYTHONWARNINGS="${PYTHONWARNINGS:+$PYTHONWARNINGS,}ignore:Unverified HTTPS request"

# Node setup
#
layout node
watch_file package.json

if [[ ! -f node_modules/.sentinal ]] && [[ -f pnpm-lock.yaml ]]; then
    echo "direnv: installing Node packages from pnpm-lock.yaml"

    if [[ -d node_modules ]]; then
        rm -rf node_modules
    fi

    pnpm install

    touch node_modules/.sentinal
elif [[ ! -f node_modules/.sentinal ]] || [[ package.json -nt pnpm-lock.yaml ]]; then
    echo "direnv: installing Node packages from package.json"

    if [[ -d node_modules ]]; then
        rm -rf node_modules
    fi
    if [[ -f pnpm-lock.yaml ]]; then
        rm pnpm-lock.yaml
    fi

    pnpm install

    touch node_modules/.sentinal
fi

# Ruby setup
#
layout ruby
watch_file Gemfile

if [[ ! -f "$GEM_HOME"/.sentinal ]] && [[ -f Gemfile.lock ]]; then
    echo "direnv: installing Ruby gems from Gemfile.lock"

    if [[ -d "$GEM_HOME" ]]; then
        rm -rf "$GEM_HOME"
        layout ruby
    fi
    find .direnv/bin -type f -exec grep -l "This file was generated by Bundler" "{}" \; | while read -r BUNDLER_BIN; do
        rm -f "$BUNDLER_BIN"
    done

    bundle install 2>/dev/null

    touch "$GEM_HOME"/.sentinal
elif [[ ! -f "$GEM_HOME"/.sentinal ]] || [[ Gemfile -nt Gemfile.lock ]]; then
    echo "direnv: installing Ruby gems from Gemfile"

    if [[ -d "$GEM_HOME" ]]; then
        rm -rf "$GEM_HOME"
        layout ruby
    fi
    if [[ -f Gemfile.lock ]]; then
        rm Gemfile.lock
    fi
    find .direnv/bin -type f -exec grep -l "This file was generated by Bundler" "{}" \; | while read -r BUNDLER_BIN; do
        rm -f "$BUNDLER_BIN"
    done

    bundle install 2>/dev/null

    touch "$GEM_HOME"/.sentinal
fi

# Metasploit setup
#
# Metasploit configuration directory must already exist, or else
# MSF_CFGROOT_CONFIG will be silently ignored
#
# Note that msfdb init cannot be run here, as it will cause direnv to
# hang
#
if [[ ! -d appdata/metasploit ]]; then
    echo "direnv: creating Metasploit configuration directory"
    mkdir -p appdata/metasploit
fi

# Nikto setup
#
# We can easily determine the (unwrapped) Nikto executable path here
# because ./scripts hasn't yet been added to the PATH
#
if [[ ! -f appdata/nikto.conf ]]; then
    echo "direnv: creating default Nikto configuration"
    cp "$(dirname "$(dirname "$(which nikto)")")"/etc/nikto.conf appdata/nikto.conf
fi

# ProxyChains-NG setup
#
if [[ ! -f appdata/proxychains.conf ]]; then
    echo "direnv: creating default ProxyChains configuration"
    cp "$(dirname "$(dirname "$(which proxychains4)")")"/etc/proxychains.conf appdata/proxychains.conf
fi

# Create artifacts directory
#
if [[ ! -d artifacts ]]; then
    echo "direnv: creating artifacts directory"
    mkdir -p artifacts
fi

# Create wordlists directory
#
if [[ -n "$WORDLISTS" ]]; then
    mkdir -p wordlists
    find wordlists -xtype l -exec rm "{}" \;

    # https://stackoverflow.com/a/29949759
    IFS=: read -r -d '' -a WORDLISTS_ARRAY < <(printf '%s:\0' "$WORDLISTS")
    for WORDLIST in "${WORDLISTS_ARRAY[@]}"; do
        WORDLIST_NAME="$(basename "$WORDLIST")"
        if [[ ! -e wordlists/"$WORDLIST_NAME" ]]; then
            echo "direnv: building $WORDLIST_NAME wordlist"
            ln -nsf "$WORDLIST" wordlists/"$WORDLIST_NAME"
        fi
    done
fi

# Add ./scripts to PATH
#
echo "direnv: adding custom scripts and wrappers to the shell PATH"
PATH_add scripts

#### Application configuration #########################################

echo "direnv: loading additional app configurations into the environment"

# less
#
export LESSHISTFILE="$PWD"/appdata/lesshst

# Shodan
#
export PYTHONWARNINGS="${PYTHONWARNINGS:+$PYTHONWARNINGS,}ignore:pkg_resources is deprecated"

# Android tools
#
export ANDROID_USER_HOME="$PWD"/appdata/android

# Asciinema
#
export ASCIINEMA_CONFIG_HOME="$PWD"/appdata/asciinema/config
export ASCIINEMA_STATE_HOME="$PWD"/appdata/asciinema/state

# John the Ripper
#
export JOHN="$PWD"/appdata/john

# Metsaploit
#
export MSF_CFGROOT_CONFIG="$PWD"/appdata/metasploit
export RUBYOPT="-W0"

# NetExec
#
export NXC_PATH="$PWD"/appdata/netexec

# ProxyChains-NG
#
export PROXYCHAINS_CONF_FILE="$PWD"/appdata/proxychains.conf

# SQLite
#
export SQLITE_HISTORY="$PWD"/appdata/sqlite_history

#### Finish ############################################################

set +e
