use flake

# Initial build can take a while, so disable the associated warning
#
export DIRENV_WARN_TIMEOUT=0

# Python setup
#
#   https://github.com/direnv/direnv/issues/1194#issuecomment-1849002795
#
layout python
watch_file requirements.txt
export PIP_NO_BINARY=":all:"

PYTHON_REQUIREMENTS_SENTINAL="$VIRTUAL_ENV"/requirements.sentinal
if [[ ! -f "$PYTHON_REQUIREMENTS_SENTINAL" ]] || [[ "requirements.txt" -nt "$PYTHON_REQUIREMENTS_SENTINAL" ]]; then
    if [[ -n "$VIRTUAL_ENV" ]] && [[ -d "$VIRTUAL_ENV" ]]; then
        rm -rf "$VIRTUAL_ENV"
        layout python
    fi
    pip install -r requirements.txt
    touch $PYTHON_REQUIREMENTS_SENTINAL
fi

# It's not uncommon to proxy Python apps through Burp Suite or another
# tool, which can result in warnings about untrusted SSL certificates.
# These are annoying, so we disable them. (DON'T do this GLOBALLY
# though! Warnings about unverified SSL certificates exist for a
# reason!)
#
export PYTHONWARNINGS="${PYTHONWARNINGS:+$PYTHONWARNINGS,}ignore:Unverified HTTPS request"

# Node setup
#
layout node

# Shodan configuration
#
export PYTHONWARNINGS="${PYTHONWARNINGS:+$PYTHONWARNINGS,}ignore:pkg_resources is deprecated"
