export ENGAGEMENT_NAME_FOR_HUMANS="{{ENGAGEMENT_NAME_FOR_HUMANS}}"
export ENGAGEMENT_NAME="{{ENGAGEMENT_NAME}}"

# Initial build can take a while, so disable the associated warning
#
# Unfortunately, this only works *after* the first run
#
export DIRENV_WARN_TIMEOUT=0

# Init the environment
#
# FIXME: For some reason, direnv reloads it environment *once* after
# initialization, even though nothing has changed. Pre-generating
# flake.lock does *not* fix this.
#
use flake

# Python setup
#
#
# Inspired by:
#
#   https://github.com/direnv/direnv/issues/1194#issuecomment-1849002795
#
# Note that we need to call `layout python` once to set VIRTUAL_ENV,
# even though we may wipe-and-rebuild it later. The net result is that
# $VIRTUAL_ENV/bin will sometimes be present twice in the PATH.
#
layout python
watch_file .default-python-packages
export PIP_NO_BINARY=":all:"

if [[ ! -f requirements.txt ]] || [[ .default-python-packages -nt requirements.txt ]]; then
    if [[ -n "$VIRTUAL_ENV" ]] && [[ -d "$VIRTUAL_ENV" ]]; then
        rm -rf "$VIRTUAL_ENV"
        layout python
    fi
    if [[ -f requirements.txt ]]; then
        rm requirements.txt
    fi

    pip install --upgrade pip $(sed '/^[^0-9A-Za-z]/d;s/ .*//' .default-python-packages | xargs)
    pip freeze --all >requirements.txt
    touch "$VIRTUAL_ENV"/requirements.sentinal
elif [[ -f requirements.txt ]] && [[ ! -f "$VIRTUAL_ENV"/requirements.sentinal ]]; then
    if [[ -n "$VIRTUAL_ENV" ]] && [[ -d "$VIRTUAL_ENV" ]]; then
        rm -rf "$VIRTUAL_ENV"
        layout python
    fi

    pip install -r requirements.txt
    touch "$VIRTUAL_ENV"/requirements.sentinal
fi

# It's not uncommon to proxy Python apps through Burp Suite or another
# tool, which can result in warnings about untrusted SSL certificates.
# These are annoying, so we disable them. (DON'T do this GLOBALLY
# though! Warnings about unverified SSL certificates exist for a
# reason!)
#
export PYTHONWARNINGS="${PYTHONWARNINGS:+$PYTHONWARNINGS,}ignore:Unverified HTTPS request"

# Node setup
#
layout node
watch_file .default-npm-packages

# Ruby setup
#
layout ruby
watch_file .default-gems

# Shodan configuration
#
export PYTHONWARNINGS="${PYTHONWARNINGS:+$PYTHONWARNINGS,}ignore:pkg_resources is deprecated"

# Goose configuration
#
GOOSE_PATH_ROOT="$(dirname "$DIRENV_FILE")/appdata/goose"
CONTEXT_FILE_NAMES='["ENGAGEMENT.md", "AGENT.md", ".goosehints", "CLAUDE.md", ".cursorrules", "global_rules.md"]'
